{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'persons/style.css' %}">

<div>
Lista de personas
</div>

{% if persons %}
    {% for person in persons %}
       <ul>
            <div>{{person.name}} {{person.lastname}}</div>
            {% for i in person.identifications.all %}
                {{i.type}} - {{i.number}}
            {% endfor %}
            <a href='{% url 'persons:detail' person.id %}'> detalle </a>  
       </ul>
    {% endfor %}
{% endif %}

